# Revisão Python

## Variáveis

In [1]:
nome = 'Python'
print(nome)

Python

In [2]:
# podemos definir uma variáveil 
ano = 2020

In [3]:
# exibir o valor da variável
print(ano)

2020

In [4]:
# NameError
print(ano_2021)

NameError: name 'ano_2021' is not defined

In [ ]:
print(2020) # exibirá o valor
print(ano)  # exibirá o resultado gravado

In [5]:
idade = 23
print(idade)
idade = 24
print(idade)

23
24

In [6]:
# erro de sintaxe
idade pai = 60

SyntaxError: invalid syntax (3741012024.py, line 2)

In [7]:
# erro de sintaxe
2020_ano = 90

SyntaxError: invalid decimal literal (4023900715.py, line 2)

In [8]:
# snake case
idade_pai = 60
paises_visitados = 90

In [9]:
# constantes 
pi = 3.14159

In [10]:
id_cliente = 1
nome_cliente = 'Thiago'

In [11]:
# erro de sintaxe - key word python

for = 1

SyntaxError: invalid syntax (3735080033.py, line 3)

In [12]:
# erro de sintaxe
lambda = 1

SyntaxError: invalid syntax (762887504.py, line 2)

In [13]:
## Tipos de variáveis
# inteiros
numero_laranjas = 10
# verificando o tipo de uma variável
type(numero_laranjas)

int

In [14]:
# floats
nota_prova = 9.5
# verificando o tipo
type(nota_prova)

float

In [15]:
# Strings
nome_funcionario = 'Thiago'
# verificando o tipo
type(nome_funcionario)

str

In [16]:
nome_vendedor = 'Gil'
type(nome_vendedor)

str

In [17]:
# boleanos 
status_logado = True
print(status_logado)
print('------' * 10)
status_logado = False
print(type(status_logado))

True
------------------------------------------------------------
<class 'bool'>

In [18]:
numero = 20
dir(numero)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [19]:
numero.real

20

## Operações matemáticas

In [20]:
# Qual o  resultado
1 + 3 * 4 / 3 - 2

3.0

In [21]:
# qual o resutado
(1 + 3) * 4 / (3 - 2)

16.0

In [22]:
# area do círculo
pi = 3.14
raio = 3
area = pi * raio ** 2 #  ** = a potenciação
print(area)

28.26

In [23]:
# resto de divisão
18%8

2

In [24]:
5%2

1

In [25]:
10 * 5

50

In [26]:
50 / 10

5.0

In [27]:
3**3

27

In [28]:
4 ** (2/3)

2.5198420997897464

In [29]:
# parte inteira da divisão
24//5.3

4.0

In [30]:
int(24//5.3)

4

In [31]:
# resultado da divisão
24/5.3

4.528301886792453

## Strings

In [32]:
# aspas simples
minha_string_single_quote = 'Meu nome é: '
# aspas duplas
minha_string_double_quote = 'Meu nome é: '
# aspas triplas
minha_string_multiline = """
                         Meu nome é: 
                         
                         """

In [33]:
texto = '''
        Python é uma linguagem de 
        programação
        '''
print(texto)

        Python é uma linguagem de
        programação

In [34]:
print(minha_string_single_quote)

Meu nome é:

In [35]:
print(minha_string_double_quote)

Meu nome é:

In [36]:
# fatiamento de strings
# o Python começa a contar do 0 e o último número não é incluido no fatiamento

In [37]:
cidade = 'São Bernardo do Campo'

print(cidade)              # imprime a string completa
print(cidade[0])           # imprime o primeiro caracter da string
print(cidade[2:5])         # imprime do terceiro ao quinto caracter
print(cidade[2:])          # imprime os caracteres a partir do terceiro
print(cidade * 2)          # imprime duas vezes

São Bernardo do Campo
S
o B
o Bernardo do Campo
São Bernardo do CampoSão Bernardo do Campo

In [38]:
# concatenando strings
cidade = 'São Bernardo do Campo'
regiao = ', localizada na Grande São Paulo'

print(cidade+' '+regiao)

São Bernardo do Campo , localizada na Grande São Paulo

In [39]:
# podemos usar o operador * em strings

In [40]:
string = 'Python'
print(string * 5)

PythonPythonPythonPythonPython

In [41]:
# métodos em strings
print(string.upper())      # uppercase
print(string.lower())      # lowercase
print(string.capitalize()) # capitaliza a primeira palavra
print(string.title())      # capitaliza cada palavra
print(string.find("h"))    # retorna o índice da palavra especificada
print(string.count('0'))   # conta a frequência

PYTHON
python
Python
Python
3
0

## Prints

In [42]:
# variável nome
nome = 'Thiago'
# variável idade
idade = 39

In [43]:
print(nome)

Thiago

In [44]:
print('Olá, meu nome é {} e eu tenho {} anos'. format(nome, idade))

Olá, meu nome é Thiago e eu tenho 39 anos

In [45]:
print(f'Olá, meu nome é {nome} e eu tenho {idade} anos.')

Olá, meu nome é Thiago e eu tenho 39 anos.

## Inputs

In [46]:
# exemplo inicial
nome = input('Digite seu nome: ')

Digite seu nome: Thiago

In [47]:
print(nome)

Thiago

In [48]:
type(nome)

str

In [49]:
# casting
numero = int(input('Digite um número: '))

Digite um número: 39

In [50]:
type(numero)

int

In [51]:
idade = int(input('digite sua idade: '))
print(f'Sua idade é: {idade}')

digite sua idade: 39
Sua idade é: 39

In [52]:
idade

39

## Comparadores e operadores lógicos

**Operadores mais importantes:**

* A == B  (vamos verificar se A é igual a B)
* A > B (vamos verificar se A é maior que B)
* A < B (vamos verificar se B é maior que A)
* A >= B (vamos verificar se A é maior ou igual a B)
* A <= B (vamos verificar se A é menor ou igual a B)
* A != B (Vamos verificar se A é diferente de B)

In [53]:
num1 = 2
num2 = 4

In [54]:
num1 == num2

False

In [55]:
num1 > num2

False

In [56]:
num1 < num2

True

In [57]:
num1 <= num2

True

In [58]:
num1 >= num2

False

In [59]:
num1 <= num2

True

In [60]:
num1 != num2

True

In [61]:
# combinando comparações por meio de operadores lógicos

In [62]:
idade1 = 20
idade2 = 15
idade3 = 10

In [63]:
# AND = todas as comparações são verdadeiras
# neste exemplo não são e retornou false
(idade1>idade2) and (idade1<idade3)

False

In [64]:
# OR = somente uma condição é verdadeira
# neste exemplo retornou true
(idade1>idade2) or (idade1<idade3)

True

## Condicionais

In [65]:
media_aluno = 4.5
# Se a média for maior ou igual a 7, então ele é aprovado
if media_aluno >= 7:
    print('aprovado')
# caso seja menor que 7, ele está reprovado
else:
    print('Reprovado!')

Reprovado!

In [66]:
# mais de uma condição
# se a média maior ou igual a 7, então ele é aprovado(>=7)

if media_aluno >= 7:
    print('aprovado!')
# Se a média é maior ou igual a 5, recuperação (>=5)
elif media_aluno >= 5:
    print('Recuperação')
# se for menor que 5, reprovado
else:
    print('Reprovado!')

Reprovado!

## Loops

### Loop For

In [67]:
# Pra gerar uma sequência podemos utilizar a função range
# Sequência de 5 números iniciando o 0
# Possibilidade 1: range(5)
# Possibilidade 2: criar uma lista e armazenar os números

for numero in range(10):
    print(numero)

0
1
2
3
4
5
6
7
8
9

In [68]:
lista = list(range(20))

In [69]:
lista = [0, 1, 2, 3, 4]
for numero in lista:
    print(numero ** 2)

0
1
4
9
16

In [70]:
string = 'Python'
for i in string:
    print(i)

P
y
t
h
o
n

In [71]:
# vamos usar a função enumerate para imprimir a cada repetição o índice do elemento
# a ideia é printar o índice e o elemento

cidades = ['São Paulo', 'Rio de Janeiro', 'Fortaleza', 'Manaus']
for indice, cidades in enumerate(cidades, start = 0):
    print(indice, cidades)

0 São Paulo
1 Rio de Janeiro
2 Fortaleza
3 Manaus

In [72]:
# Avaliando a aprovação de 5 alunos
# Se média maior ou igual a 7, então ele é aprovado

for i in range(1, 6):
    print(i)
    media_aluno = float(input('Informe a nota do aluno: '))
    if media_aluno >= 7:
        print('Aluno Aprovado!\n')
    # se for menor que 7, reprovado
    else:
        print('Aluno Reprovado!\n')

1
Informe a nota do aluno: 5
Aluno Reprovado!

2
Informe a nota do aluno: 6
Aluno Reprovado!

3
Informe a nota do aluno: 8
Aluno Aprovado!

4
Informe a nota do aluno: 4
Aluno Reprovado!

5
Informe a nota do aluno: 9
Aluno Aprovado!

### Loop While

In [73]:
# Exemplo de loop infinito
# não execute essa linha
# i = 10
# while i < 11:
#    print('eu sou teimoso!')

In [74]:
# loop com condição 
# a cada iteração é somado +1 ao valor de i

i = 0
while i <= 7:
    print(i)
    
    i+=1    # i = i + 1

0
1
2
3
4
5
6
7

In [75]:
# loop com condição 
# a cada iteração é subtraído 1 ao valor de i

i = 10
while i >= 1:
    print(i)
    
    i-=1    # i = i - 1

10
9
8
7
6
5
4
3
2
1

In [76]:
# interação com lista
lista = [1, 8, 3, 5]

i = 0
while i < len(lista):
    print(lista[i])
    i+=1

1
8
3
5

## Estrutura de Dados

## Listas

In [77]:
# listas com números
lista_numeros = [1,2,3]

In [78]:
lista_string = ['São Paulo', 'Maceió', 'Belém', 'Salvador']

In [79]:
# Acessando o elemento 0 da lista de números
lista_numeros[0]

1

In [80]:
# Acessando o elemento 1 da lista de números
lista_numeros[1]

2

In [81]:
# verificando se um elemento faz parte da lista
2 in lista_numeros

True

In [82]:
# slicing de lista
# usaremos esse raciocíno diversas vezes quando operarmos dados com Pandas
# sintaxe : lista[start:end:step]

linguagens = ['Python', 'Java', 'Php', 'JavaScript']
# mostra toda lista
linguagens[:]

['Python', 'Java', 'Php', 'JavaScript']

In [83]:
# inverte a ordem dos elementos
linguagens[::-1]

['JavaScript', 'Php', 'Java', 'Python']

In [84]:
# mostra todos os elementos da posição 0 até a posição 1 (excluisive)
linguagens[:1]

['Python']

In [85]:
# mostra todos os elementos da posição 1 até a posição 3 (excluisive)
linguagens[1:3]

['Java', 'Php']

In [86]:
#pega todos os elementos da posição 2 até o final da lista
linguagens[2:]

['Php', 'JavaScript']

In [87]:
#pega todos os elementos com step = 2
linguagens[::2]

['Python', 'Php']

In [88]:
# em lista com números podemos fazer operações

numeros = [1,5,8]

In [89]:
# Soma
sum(numeros)

14

In [90]:
# Máximo da lista
max(numeros)

8

In [91]:
# quantidade de elementos na lista
len(numeros)

3

In [92]:
# desempacotando lista
num1, num2, num3 = numeros
print(num1, num2, num3)

1 5 8

In [93]:
print(numeros)

[1, 5, 8]

In [94]:
# desempacotando lista
num1, *num2 = numeros

In [95]:
print(num1, num2)

1 [5, 8]

In [96]:
# métodos me listas

# verifica os métodos de um objeto
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [97]:
# ajuda 
help(list.append)

Help on method_descriptor:

append(self, object, /)
    Append object to the end of the list.

Method | Description
-------|------------
append() | Adds an element at the end of the list
clear() | Removes all the elements from the list
copy() | Returns a copy of the list
count() | Returns the number of elements with the specified value
extend() | Add the elements of a list (or any iterable), to the end of the current list
index() | Returns the index of the first element with the specified value
insert() | Adds an element at the specified position
pop() | Removes the element at the specified position
remove() | Removes the first item with the specified value
reverse() | Removes the first item with the specified value
sort() | Sorts the list


Fonte: https://www.w3schools.com/python/python_ref_list.asp

In [98]:
# alterando um elemento
numeros[0] = 34
print(numeros)

[34, 5, 8]

In [99]:
# adicionando um novo elementos no final da lista
numeros.append(9)
print(numeros)

[34, 5, 8, 9]

In [100]:
# removendo um elementos da lista
numeros.remove(5)
print(numeros)

[34, 8, 9]

Para mais comandos envolvendo listas e acesse: <a href="https://www.w3schools.com/python/python_ref_list.asp">Clique Aqui <a/>

In [101]:
# Exemplo 
# Vamos criar uma lista vazia e em seguida usar a função range() para gerar uma sequência de números inteiros
# range(1,101)
# Em seguida iremos adicionar a esta lista apenas os números pares
# Podemos reduzir o tamanho deste código?
# E se caso eu precise usar esse mesmo procedimento várias vezes?

In [102]:
lista = []
for numero in range(1, 101):
    if numero%2==0:
        lista.append(numero)

In [103]:
print(lista)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

## Tuplas

In [104]:
# tuplas são imutáveis
tupla = (1, 2, 2, 2, 3, 3, 4)

In [105]:
# quantas vezes aparece um elemento
tupla.count(2)

3

In [106]:
tupla.index(4)

6

Method | Description
-------|-------------
count() | Returns the number of times a specified value occurs in a tuple
index() | 	Searches the tuple for a specified value and returns the position of where it was found

Fonte: https://www.w3schools.com/python/python_ref_tuple.asp

## Conjuntos

In [107]:
conjunto1 = {'Cristina', 'Flavia', 'Alessandra' }
conjunto2 = {'Ana', 'Cleide', 'Alessandra'}

In [108]:
# podemos adicionar um elemento a um conjunto
conjunto2.add('Gabriela')

In [109]:
# podemos unir os dois cojuntos
conjunto_uniao = conjunto1.union(conjunto2)
print(conjunto_uniao)

{'Ana', 'Alessandra', 'Cleide', 'Flavia', 'Cristina', 'Gabriela'}

In [110]:
# podemos subtrair conjuntos
conjunto_subtracao = conjunto1.difference(conjunto2)
print(conjunto_subtracao)

{'Flavia', 'Cristina'}

In [111]:
# podemos encontrar a interseccão dos conjuntos
conjunto_interseccao = conjunto1.intersection(conjunto2)
print(conjunto_interseccao)

{'Alessandra'}

In [112]:
# podemos usar sets para pegar apenas os elementos únicos de uma lista
lista = ['a', 'b', 'a', 'b', 'w', 'z', 'b']
print(list(set(lista)))

['a', 'b', 'w', 'z']

Para mais comandos envolvendo conjuntos e acesse: <a href="https://www.w3schools.com/python/python_ref_set.asp">Clique Aqui <a/>

## Dicionários

In [113]:
# Exemplo
notas = {"Bruno": 4.5, 
         "Mauricio": 8.7, 
         "Jéssica": 6.5,
         "Mariana": 7.4
        }

In [114]:
# consultar o dicionário
print(notas['Bruno'])

4.5

In [115]:
print(notas['Mauricio'])

8.7

In [116]:
# podemos consultar as chaves
notas.keys()

dict_keys(['Bruno', 'Mauricio', 'Jéssica', 'Mariana'])

In [117]:
# podemos consultar as valores
notas.values()

dict_values([4.5, 8.7, 6.5, 7.4])

In [118]:
# iterar no dicionario
for chave, valor in notas.items():
    print(chave, valor)

Bruno 4.5
Mauricio 8.7
Jéssica 6.5
Mariana 7.4